.cart-bubble,
.cart-bubble > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart-bubble__count {
  position: absolute;
  inset-block-end: 1px;
  inset-inline-start: 13px;
  z-index: 1;
  min-width: 20px;
  max-width: 60px;
  padding-inline: 6px;
  overflow: hidden;
  font-style: normal;
  line-height: 20px;
  color: rgba(var(--color-cart-bubble-text), 1);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(var(--color-cart-bubble), 1);
  border-radius: 20px;
}
.cart-bubble__count:empty {
  display: none;
}
