<svg
  class="icon icon-magnifiers {{props.class}}"
  width="61"
  height="60"
  viewBox="0 0 61 60"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <circle cx="30.5" cy="30" r="29" fill="black" fill-opacity="0.6"></circle>
  <circle cx="30.5" cy="30" r="29.5" stroke="black" stroke-opacity="0.05"></circle>
  <circle cx="29.7941" cy="29.2941" r="10.5441" stroke="white" stroke-width="1.5"></circle>
  <path d="M37.5582 37.0586L42.4994 41.9998" stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
  <path d="M26.9703 29.293H32.6174" stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
  <path d="M29.7933 32.1172L29.7933 26.4701" stroke="white" stroke-width="1.5" stroke-linecap="round"></path>
</svg>