

{{#component "stylesheet" src="./input-password.css" | asset_url() /}}
{{#component "script" src="./input-password.js" | asset_url() /}}

<theme-input-password class="field{{#if props.class}} {{props.class}}{{/if}}">
  <label class="field__inner">
    <input
      class="field__input"
      type="password"
      name="{{props.input_name}}"
      placeholder="{{#if props.input_placeholder}}{{props.input_placeholder}}{{#else/}}{{"customer.general.password" | t()}}{{/if}}"
      {{#if props.input_autocomplete}}autocomplete="{{props.input_autocomplete}}"{{/if}}
      {{#if props.input_required}}required{{/if}}
      {{#if props.input_disabled}}disabled{{/if}}
    />

    <span class="field__label">
      {{#if props.input_placeholder}}
        {{props.input_placeholder}}
      {{#else/}}
        {{"customer.general.password" | t()}}
      {{/if}}
    </span>
  </label>

  <div class="field__suffix input-password">
    <button type="button" class="button button--link input-password__button">
      <span class="flex-align-center input-password__icon-show">{{#component "icons/eye-close" /}}</span>
      <span class="flex-align-center input-password__icon-hide hidden">{{#component "icons/eye-open" /}}</span>
    </button>
  </div>
</theme-input-password>
