.main-password__footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-block: 40px;
}

.main-password__footer::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  margin-block-start: -40px;
  content: "";
  background-color: rgba(var(--color-text), 0.2);
}

.main-password__footer .footer__social-medias {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.main-password__footer .footer__social-medias:empty {
  display: none;
}

.main-password__footer .footer__social-medias a {
  display: flex;
  transition: transform 0.2s;
}

.main-password__footer .footer__social-medias a:hover {
  transform: scale(1.11);
}

.main-password__footer .footer__tip {
  margin-block-start: 0;
}
