<!DOCTYPE html>
<html lang="{{request.locale.iso_code}}">
  <head>
    {{#component "page-head" /}}

    {{#component "theme-css-var" /}}
    {{#component "stylesheet" src="base/index.css" | asset_url() /}}
    {{#component "script" src="base/index.js" | asset_url() /}}

    <style>
      .password-page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .password-page-content {
        flex: 1 0 0;
      }
    </style>

    {{#content "header" /}}

  </head>
  <body class="password-page">
    {{#section "main-password-header" /}}

    <main class="password-page-content">
      {{#content "layout" /}}
    </main>

    {{#section "main-password-footer" /}}

    {{#content "footer" /}}
  </body>
</html>