.customers-forgot-password__container {
  background-color: rgb(var(--color-background));
}
.customers-forgot-password-section {
  display: block;
  max-width: 430px;
  padding-block: 80px;
  margin: 0 auto;
}
.customers-forgot-password__title {
  margin-block-end: 10px;
}
.customers-forgot-password__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 40px;
}
.customers-forgot-password__tab ol {
  display: flex;
  align-items: center;
}
.customers-forgot-password__tab ol > li {
  --underline-size: 2px;

  position: relative;
}
.customers-forgot-password__tab ol > li::after {
  position: absolute;
  inset-block-end: calc(var(--nav-menu-item-padding-block) * -1);
  display: block;
  width: 0;
  height: var(--underline-size);
  pointer-events: none;
  content: "";
  background-color: rgb(var(--color-text));
  transition: width 200ms ease-in;
}
.customers-forgot-password__tab ol > li:hover::after,
.customers-forgot-password__tab ol > li.active::after {
  width: 100%;
}
.customers-forgot-password__tab ol > li > a {
  line-height: 1.6;
  cursor: pointer;
  user-select: none;
}
.customers-forgot-password__tab-divide {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-inline: 20px;
  background-color: rgba(var(--color-entry-line), 1);
}
.customers-forgot-password__tab-divide::after {
  content: "";
}
.customers-forgot-password__shown-in-email,
.customers-forgot-password__shown-in-mobile {
  display: none;
}
.customers-forgot-password-section.mobile
  .customers-forgot-password__shown-in-mobile,
.customers-forgot-password-section.email
  .customers-forgot-password__shown-in-email {
  display: flex;
}
.customers-forgot-password__error-message {
  color: rgb(227 38 25 / 100%);
}
.customers-forgot-password__submit {
  margin-block-end: 40px;
}
