.block-product-list {
  --product-card-shadow-offset-x-val: max(
    var(--product-card-shadow-offset-x),
    calc(-1 * var(--product-card-shadow-offset-x))
  );
  --product-card-shadow-offset-y-val: max(
    var(--product-card-shadow-offset-y),
    calc(-1 * var(--product-card-shadow-offset-y))
  );
  --padding-inline: calc(
    var(--product-card-shadow-offset-x-val) + var(--product-card-shadow-blur)
  );
  --padding-block: calc(
    var(--product-card-shadow-offset-y-val) + var(--product-card-shadow-blur)
  );

  position: relative;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  scroll-padding-inline: var(--padding-inline);
  background-color: rgb(var(--color-background));
}

@media (max-width: 959px) {
  .block-product-list {
    width: calc(100% + var(--page-padding) * 2);
    padding-inline: var(--page-padding);
    margin-inline: calc(-1 * var(--page-padding));
    overflow-y: hidden;
    scroll-padding-inline: var(--page-padding);
  }
}

.block-product-list__button {
  position: absolute;
  inset-block-start: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: rgb(255 255 255 / 100%);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

.block-product-list__button--previous {
  inset-inline-start: 0;
  transform: translate(-50%, -50%);
}

.block-product-list__button--previous svg {
  transform: rotate(180deg);
}

.block-product-list__button--next {
  inset-inline-end: 0;
  transform: translate(50%, -50%);
}
