.header-nav-drawer {
  --header-nav-drawer-slide-anime-duration: 200ms;

  position: fixed;
  z-index: -1;
  display: none;
  pointer-events: none;
  transition: z-index 1ms ease var(--header-nav-drawer-slide-anime-duration);
}

.header-nav-drawer--lockscreen {
  overflow: hidden !important;
}

.header-nav-drawer.open {
  z-index: var(--z-index-fixed);
  pointer-events: all;
  transition: z-index 1ms ease;
}

.header-nav-drawer,
.header-nav-drawer__backdrop,
.header-nav-drawer__content {
  inset-block-start: 0;
  inset-inline-start: 0;
  flex: 1;
  width: 100%;
  height: 100%;
}

@media (max-width: 959px) {
  .header-nav-drawer .body-font-bold {
    font-weight: 700;
  }
}

.header-nav-drawer__backdrop {
  position: fixed;
  z-index: -1;
  display: block !important;
  width: 100%;
  height: 100vh;
  background: rgb(0 0 0 / 40%);
  opacity: 0;
  transition:
    opacity var(--header-nav-drawer-slide-anime-duration) ease-in-out,
    z-index 1ms ease var(--header-nav-drawer-slide-anime-duration);
}

.header-nav-drawer.open .header-nav-drawer__backdrop {
  opacity: 1;
}

.header-nav-drawer__content {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 400px;
  height: 100vh;
  height: 100dvh;
  padding: 15px 0;
  padding-block-end: max(15px, env(safe-area-inset-bottom));
  background: rgb(var(--color-background));
  transition:
    width var(--header-nav-drawer-slide-anime-duration) ease,
    transform var(--header-nav-drawer-slide-anime-duration) ease-out;
  transform: translateX(-100%);
}

@media (max-width: 959px) {
  .header-nav-drawer__content {
    width: 340px;
  }
}

.header-nav-drawer.open .header-nav-drawer__content {
  transition:
    width var(--header-nav-drawer-slide-anime-duration) ease,
    transform var(--header-nav-drawer-slide-anime-duration) ease-in;
  transform: translateX(0);
}

.header-nav-drawer__header {
  padding-inline: 30px;
}

@media (max-width: 959px) {
  .header-nav-drawer__header {
    padding-inline: 20px;
  }
}

.header-nav-drawer__header-container {
  box-sizing: content-box;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  padding-block-end: 15px;
  color: rgb(var(--color-text));
  border-block-end: 1px solid rgb(var(--color-entry-line));
}

.header-nav-drawer__login {
  display: inline-flex;
  flex: 1;
  gap: 8px;
  align-items: center;
}

.header-nav-drawer__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.header-nav-drawer__ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  white-space: normal;
  -webkit-box-orient: vertical;
}

.header-nav-drawer__menu {
  --nav-drawer-padding-inline: 20px;
  --nav-drawer-padding-block: 12px;

  flex: 1;
  overflow-y: auto;
}

.header-nav-drawer__menu-control {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: var(--nav-drawer-padding-block) var(--nav-drawer-padding-inline);
  color: rgb(var(--color-text));
}

.header-nav-drawer__menu-control > a {
  color: inherit;
}

.header-nav-drawer__menu-control .header-nav-drawer__menu-icon {
  width: 10px;
  height: 10px;
}

.header-nav-drawer__menu-control .header-nav-drawer__menu-icon > svg {
  --animation-rotate-degree: -270deg;

  position: absolute;
  opacity: 0;
  transition: transform 300ms ease;
  transform: rotate(0deg) scale(1);
}

details:not([open])
  .header-nav-drawer__menu-control
  .header-nav-drawer__menu-icon
  > .icon-arrow-thin {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

details:not([open])
  .header-nav-drawer__menu-control
  .header-nav-drawer__menu-icon
  > .icon-minus {
  opacity: 0;
  transform: rotate(var(--animation-rotate-degree)) scale(0);
}

details[open]
  .header-nav-drawer__menu-control
  .header-nav-drawer__menu-icon
  > .icon-arrow-thin {
  opacity: 0;
  transform: rotate(var(--animation-rotate-degree)) scale(0);
}

details[open]
  .header-nav-drawer__menu-control
  .header-nav-drawer__menu-icon
  > .icon-minus {
  opacity: 1;
  transform: rotate(0) scale(1);
}

.header-nav-drawer__submenu {
  --nav-drawer-submenu-padding-inline: 15px;

  overflow: hidden;
  background: rgb(0 0 0 / 5%);
}

.header-nav-drawer__submenu .header-nav-drawer__submenu {
  background-color: rgb(0 0 0 / 0%);
}

details:not([open]) + .header-nav-drawer__submenu {
  max-height: 0;
  color: rgb(0 0 0 / 0%);
  transition:
    max-height 360ms ease,
    color 200ms ease;
}

details[open] + .header-nav-drawer__submenu {
  max-height: 100vh;
  color: rgb(var(--color-text));
  transition:
    max-height 360ms ease-in,
    color 200ms ease-in-out 200ms;
}

details[open]
  + .header-nav-drawer__submenu
  details:not([open])
  + .header-nav-drawer__submenu {
  color: rgb(0 0 0 / 0%);
}

details:not([open])
  + .header-nav-drawer__submenu
  details[open]
  + .header-nav-drawer__submenu {
  color: rgb(0 0 0 / 0%);
  transition-delay: 0ms, 0ms;
}

details[open]
  + .header-nav-drawer__submenu
  details[open]
  + .header-nav-drawer__submenu {
  color: rgb(var(--color-text));
}

.header-nav-drawer__submenu .header-nav-drawer__menu-control {
  padding-inline-start: calc(
    var(--nav-drawer-padding-inline) +
      (
        var(--nav-drawer-submenu-padding-inline) *
          (var(--nav-drawer-submenu-level, 1) - 1)
      )
  );
  color: inherit;
}

details + .header-nav-drawer__submenu .header-nav-drawer__menu-control {
  transition: transform 400ms ease-in;
}

details:not([open])
  + .header-nav-drawer__submenu
  .header-nav-drawer__menu-control {
  transform: translate(4px, 4px) !important;
}

details[open]
  + .header-nav-drawer__submenu
  > li
  > .header-nav-drawer__menu-control,
details[open]
  + .header-nav-drawer__submenu
  > li
  > details
  .header-nav-drawer__menu-control {
  transform: translate(0, 0);
}

.header-nav-drawer__footer {
  flex-shrink: 0;
  padding-block-start: 15px;
  margin-block-start: auto;
  border-block-start: 1px solid rgb(var(--color-entry-line));
}

@media (max-width: 959px) {
  .header-nav-drawer__footer {
    padding-block-end: env(safe-area-inset-bottom, 0);
  }
}

.header-nav-drawer__footer .theme-locale-picker__inner {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.header-nav-drawer__footer theme-locale-picker {
  display: contents;
}

.header-nav-drawer__footer theme-locale-picker .dropdown-menu__list {
  width: unset;
  margin-block-end: env(safe-area-inset-bottom, 0);
}

.header-nav-drawer__footer theme-locale-picker theme-dropdown-menu {
  display: flex;
  gap: 10px;
  padding: 12px 20px;
}

.header-nav-drawer__footer
  theme-locale-picker
  theme-dropdown-menu:first-child
  .dropdown-menu__list-item {
  word-break: keep-all;
  white-space: nowrap;
}

.header-nav-drawer__footer
  theme-locale-picker
  theme-dropdown-menu:last-child
  .dropdown-menu__list-item {
  word-break: break-word;
  white-space: normal;
}
