

{{#var media = props.media /}}
{{#var video_loop = props.video_loop /}}
{{#var image_quality = props.image_quality /}}
{{#var tag = props.tag | default("div") /}}

<{{tag}}
  class="media-gallery__item {{props.class}}"
  data-media-id="{{media.id}}"
  data-media-type="{{media.media_type}}"
  data-aspect-ratio="{{media.preview_image.aspect_ratio}}">
  <div class="media-gallery__media">
    {{#switch media.media_type}}
      {{#case "video" /}}
        {{#component
          "media/video-media"
          class="media-gallery__video"
          local_media=media
          loop=props.video_loop
          muted=false
          autoplay=false
          poster_image_lazy=image_lazy
          poster_image_desktop_size="50vw"
          poster_image_mobile_size="100vw"
          poster_image_quality=image_quality /}}
      {{#case "external_video" /}}
        {{#component
          "media/video-media"
          class="media-gallery__video"
          external_media=media
          loop=props.video_loop
          muted=false
          autoplay=false
          poster_image_lazy=image_lazy
          poster_image_desktop_size="50vw"
          poster_image_mobile_size="100vw"
          poster_image_quality=image_quality
        /}}
      {{#else/}}
        {{#component
          "image"
          class="media-gallery__image"
          data=media.preview_image
          desktop_size="50vw"
          mobile_size="100vw"
          lazy=image_lazy
          quality=image_quality
        /}}
    {{/switch}}

    <span class="media-gallery__preview-icon">
      {{#component "icons/magnifiers" /}}
    </span>
  </div>
</{{tag}}>