.product-price {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  color: rgb(var(--color-sale));
}

.product-price__item--compare {
  color: rgb(var(--color-light-text));
  text-decoration: line-through;
}
