.product-detail__additional {
  border-block-start: 1px solid rgba(var(--color-text), 0.08);
  border-block-end: 1px solid rgba(var(--color-text), 0.08);
}

.product-detail__additional + .product-detail__additional {
  margin-block-start: calc(-1 * var(--info-row-gap));
  border-block-start: none;
}

.product-detail__additional .additional__trigger {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 15px 0;
  padding-inline-end: 15px;
}

.product-detail__additional .additional__title {
  flex: 1 0 0;
}

.product-detail__additional .additional__content {
  padding: 0 5px;
  overflow: hidden;
}

.product-detail__additional .additional__content::after {
  display: block;
  height: 15px;
  content: "";
}

.product-detail__additional .additional__arrow {
  transition: transform 200ms;
}
.product-detail [open] .additional__arrow {
  transform: rotate(180deg);
}
