.product-detail__inventory .low-stock,
.product-detail__inventory .in-stock,
.product-detail__inventory .out-stock {
  display: inline-flex;
  align-items: flex-start;
}

.product-detail__inventory .low-stock::before,
.product-detail__inventory .in-stock::before,
.product-detail__inventory .out-stock::before {
  --icon-size: 10px;

  display: block;
  flex-shrink: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  margin: calc((1em * var(--sort-body-line-height) - var(--icon-size)) / 2) 0;
  margin-inline-end: 8px;
  content: "";
  background-color: currentcolor;
  border-radius: 50%;
}
.product-detail__inventory .low-stock::before {
  background-color: #fe9e0f;
}
.product-detail__inventory .in-stock::before {
  background-color: #35c08e;
}
.product-detail__inventory .out-stock {
  color: #f86140;
}
