.product-detail__sell-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-detail__sell-info .sell-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.product-detail__sell-info .sell-info__icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.product-detail__sell-info .sell-info__text {
  flex: 1 0 0;
  margin: 0;
}
